USE [master]
GO
/****** Object:  Database [pubs]    Script Date: 22.09.2021 11:43:19 ******/
CREATE DATABASE [pubs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pubs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\pubs.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'pubs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\pubs_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pubs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pubs]
GO
/****** Object:  DatabaseRole [Managers]    Script Date: 22.09.2021 11:43:19 ******/
CREATE ROLE [Managers]
GO
/****** Object:  DatabaseRole [Admins]    Script Date: 22.09.2021 11:43:19 ******/
CREATE ROLE [Admins]
GO
/****** Object:  Schema [Admins]    Script Date: 22.09.2021 11:43:19 ******/
CREATE SCHEMA [Admins]
GO
/****** Object:  Schema [Managers]    Script Date: 22.09.2021 11:43:19 ******/
CREATE SCHEMA [Managers]
GO
/****** Object:  Table [dbo].[Киент]    Script Date: 22.09.2021 11:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Киент](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [varchar](max) NULL,
	[Имя] [varchar](max) NULL,
	[Отчество] [varchar](max) NULL,
	[НомерТеефона] [varchar](50) NULL,
	[ЭлПочта] [varchar](50) NULL,
 CONSTRAINT [PK_Киент] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Киент] ON 

INSERT [dbo].[Киент] ([ID], [Фамилия], [Имя], [Отчество], [НомерТеефона], [ЭлПочта]) VALUES (3, N'2', N'2', N'1', N'1', N'1')
INSERT [dbo].[Киент] ([ID], [Фамилия], [Имя], [Отчество], [НомерТеефона], [ЭлПочта]) VALUES (5, N'', N'', N'', N'y', N'')
SET IDENTITY_INSERT [dbo].[Киент] OFF
USE [master]
GO
